.carousel-item {
    width: auto;
    height: 400px;
}

@media (max-width: 600px) {
    .carousel-item {
        height: 280px;
    }
}

footer {
    color: white;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
}

nav.navbar {
    /* background-color: #93c013; */
    background-color: #004173
}